* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#root {
  min-height: 500vh;
}



.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  justify-content: center;
  margin-top: 80vh;
}

.card {
  width: 300px;
  height: 250px;
  background: violet;
  border-radius: 14px;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}